// Import Design Tokens
@use './styles/tokens/index';

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
  width: 100%;
  background: var(--color-background-primary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &__main {
    flex: 1;
    overflow: hidden;
    min-height: 0;
  }
}
