.profile {
  padding: var(--space-padding-card-lg);

  @media (max-width: 768px) {
    padding: var(--space-padding-card-md);
  }

  &__card {
    max-width: 600px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-xs);
  }
}
