@use '/src/styles/tokens/index';

.chat-setting {
  &__panel {
    width: 240px;
    border-left: 1px solid var(--color-border-default);
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
    height: 100%;
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: 0;
  }
}
