.workspace {
  padding: var(--primitive-space-6);
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;

  &__header {
    margin-bottom: var(--primitive-space-6);
  }

  &__content {
    background-color: var(--color-bg-default);
    border-radius: var(--primitive-radius-lg);
    border: 1px solid var(--color-border-default);
  }

  .card {
    margin-bottom: var(--primitive-space-4);
  }
}
