.workspace {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-background-secondary);
  background-image: radial-gradient(var(--color-border-default) 0.5px, transparent 0.5px);
  background-size: 24px 24px;
  padding: var(--space-padding-xl);
  overflow-y: auto;

  &__container {
    max-width: 100%;
    margin: 0 auto;
  }

  &__header {
    margin-bottom: var(--primitive-space-6);
    flex-shrink: 0;
  }

  &__content {
    background-color: var(--color-bg-default);
    border-radius: var(--primitive-radius-lg);
    border: 1px solid var(--color-border-default);
    flex: 1;
    min-height: 500px; // 최소 높이 지정으로 흔들림 방지
  }

  .card {
    margin-bottom: var(--primitive-space-4);
  }
}
