@use '/src/styles/tokens/index';

.setting-switch {
  padding: 16px;
  background-color: var(--color-background-primary);
  border: 1px solid var(--color-border-default);
  border-radius: var(--primitive-radius-md);
  transition: all 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;

  &:hover:not(&--disabled) {
    border-color: var(--color-interactive-primary);
    background-color: var(--color-background-secondary);
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-interactive-primary);
    padding-top: 2px;
  }

  &__title {
    font-weight: 600;
    color: var(--color-text-primary);
  }

  &__description {
    line-height: 1.4;
    margin-top: 2px;
  }
}
